#modal-button{
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}

#modal-button:hover{
    padding: 5px;
    border: none;
}


.modal-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.modal-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-box > div > a{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    border: 2px solid #5fc24b;
}

.modal-box > div > a > img {
    height: 30px;
}

.modal-box > div > a:hover{
    background-color: #5fc24b;
    border: 2px solid #fff;
}

.modal-box > button{
    width: 100px;
}

.modal-container.active{
    display: flex;
    justify-content: center;
    align-items: center;
}